@import '../theme/reset';
@import '../theme/icons';
@import '../theme/typography';
@import '../theme/swatches';

$transition-sky: 500ms;
$transition-sun-moon: 300ms;
$size: 200;
$scaled-small: $size * ($small * 0.01);
$scaled-very-small: $size * ($very-small * 0.01);
$scaled-medium: $size * ($medium * 0.01);
$scaled-medium-large: $size * ($medium-large * 0.01);
$scaled-large: $size * ($large * 0.01);

// On mount the sun and moon spin crazy fast from 0 to the current rotation
// to prevent this we wait untill the component has mounted and put everything in place
// before initalizing transform.
.hasMounted {
  .sunMoon,
  .sun,
  .moon {
    transition: transform $transition-sun-moon linear;
  }
}

.timeKeeper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.controls {
  position: absolute;
  left: 0;
  z-index: 1;
}

.dayCount {
  text-align: center;
  @include font((font-size: $scaled-small, font-weight: $bold));
  margin-bottom: $size * 0.1px;
}

.time {
  @include font((font-size: $scaled-medium-large));
  margin-bottom: $size * 0.2px;
}

.colon {
  margin: 0 $size * 0.1px;
}

.buttons {
  display: flex;
  flex-direction: row;
}
