{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": 0
  }
}
