@import '../../theme/typography';
@import '../../theme/swatches';

.container {
  @include font;
  color: $swatch01;
}

.componentHead {
  margin-bottom: 12px;
}

.title {
  @include font((font-size: 24px));
}

.form {
  margin-bottom: 24px;
}

.formHead {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.button {
  transition: 300ms ease;

  &:hover {
    color: $swatch05;
  }

  &:active {
    color: $swatch07;
  }
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: $swatch04;
}

.input {
  height: 35px;
  width: 100%;
  border: 1px solid $swatch01;
  margin-bottom: 8px;
  @include font((font-size: $small));
  padding: 8px;

  transition: border 300ms ease;

  &.invalid {
    border: 1px solid $swatch08;
  }
}

.message {
  color: $swatch08;
}

.header {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $swatch01;
}

.list {
  margin-bottom: 24px;
}

.timers {
  .alert {
    color: $swatch01;
    animation: none;
  }

  @media (min-width: 500px) {
    display: flex;
    justify-content: space-between;

    & > div {
      width: calc(50% - 10px);
    }

    .alert {
      color: $swatch08;
      animation: fadeIn 300ms ease;
    }
  }
}

.timer {
  margin-bottom: 8px;
  transition: color 300ms ease;
}

.adverb {
  @include font((font-size: $small));
}

.time {
  @include font((font-size: $small));
}

.text {
  @include font((font-weight: $bold));
  display: block;
}

.alerts {
  display: block;

  @media (min-width: 500px) {
    display: none;
  }
}

.alert {
  margin-bottom: 8px;
  color: $swatch08;
  animation: fadeIn 300ms ease;
}

@keyframes fadeIn {
  0% {
    color: $swatch01;
  }

  100% {
    color: $swatch08;
  }
}
