@import './swatches';
@import './typography';
@import './icons';

@mixin disabled {
  &:disabled {
    color: $swatch03;
    cursor: default;
  }
}

@mixin button($style) {
  @include font((font-size: $small, font-weight: $bold));
  color: $swatch04;
  transition: color 300ms ease;

  @include disabled;

  @if $style == 'link' {
    color: $swatch01;

    &:hover {
      color: $swatch05;
    }

    @include disabled;
  }

  @if $style == 'undo' {
    color: $swatch09;

    &:hover {
      color: $swatch08;
    }

    @include disabled;
  }

  @if $style == 'do' {
    color: $swatch06;

    &:hover {
      color: $swatch05;
    }

    @include disabled;
  }

  @if $style == 'delete' {
    &::before {
      color: $swatch09;
      @include icon(cross);
      transition: color 300ms ease;
      font-size: 8px;
    }

    &:hover {
      &::before {
        color: $swatch08;
      }
    }

    @include disabled;
  }
}
