@import './typography';

@mixin input {
  height: 40px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  border: 0;
  background: $swatch03;
  color: $swatch01;
  @include font((font-size: $small, font-weight: $light));
  outline: none;
  transition: color 300ms ease, background 300ms ease;
  resize: none;
}
