$swatch01: #3f3f3f;
$swatch02: #fff;
$swatch03: #efefef;
$swatch04: #919191;

$swatch05: #1cb984;
$swatch06: #20ce94;
$swatch07: #1bedac;

$swatch08: #d1425a;
$swatch09: #f4475c;
$swatch10: #ff6680;

$swatch11: #ccbf1d;
$swatch12: #eae01c;
$swatch13: #eaea47;

$swatch14: #4040c1;
$swatch15: #4949f2;
$swatch16: #6c6cff;

$swatch17: #e8792e;
$swatch18: #f98130;
$swatch19: #ff8c3e;


// sundial colors
$swatch20: #2d2f3d;
$swatch21: #aee4e5;
$swatch22: #ffec00;
$swatch23: #fffad2;

// terrain colors
$swatch24: #e8cf4f;
$swatch25: #d3e38a;
$swatch26: #b38100;
$swatch27: #f1e268;
$swatch28: #acdfa3;
$swatch29: #79ae3b;
$swatch30: #fff993;
$swatch31: #febf80;
$swatch32: #fd6943;
$swatch33: #b0e2e2;
$swatch34: #b2cde4;
$swatch35: #8c95c8;
