@import '../theme/typography';
@import '../theme/swatches';
@import '../theme/scale';

.button {
  background: $swatch01;
  color: $swatch02;
  width: $size * 0.3px;
  height: $size * 0.3px;
  border-radius: 100%;
  border: 0;
  @include font((font-size: $scale));
  text-align: center;
  padding: 0;
  margin-right: $size * 0.05px;
  cursor: pointer;
  transition: background-color 300ms ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $swatch06;
  }

  &:active {
    background-color: $swatch07;
  }

  &:focus {
    outline: 0;
  }
}

.duration {
  font-weight: $bold;
}

.unit {
  font-weight: $light;
}
