@import '../theme/typography';
@import '../theme/swatches';
@import '../theme/scale';

.container {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.incrementButton {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid $swatch04;

  cursor: pointer;
  transition: border-bottom-color 300ms ease;

  &:hover {
    border-bottom-color: $swatch06;
  }

  &:active {
    border-bottom-color: $swatch07;
  }

  &:focus {
    outline: 0;
  }
}

.decrementButton {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid $swatch04;

  cursor: pointer;
  transition: border-top-color 300ms ease;

  &:hover {
    border-top-color: $swatch06;
  }

  &:active {
    border-top-color: $swatch07;
  }

  &:focus {
    outline: 0;
  }
}

.textWrapper {
  color: $swatch01;
  @include font((font-size: $medium));
  text-align: center;
  padding: 0;
  margin: 12px auto;
}

.duration {
  font-weight: $bold;
}

.unit {
  font-weight: $light;
}
